# admin_service params (Django)

ADMIN_SERVICE_DEBUG_MODE=True
ADMIN_SERVICE_SECRET_KEY=DjangoSecretKey
ADMIN_SERVICE_DB_USER=db_username
ADMIN_SERVICE_DB_PASSWORD=db_password
DB_NAME=db_name

DB_HOST=postgres
DB_PORT=5432

ADMIN_SERVICE_ALLOWED_HOSTS=*