#Dev or Prod mode
BOT_SERVICE_DEV_MODE=True

#Telegram bot username
TELEGRAM_BOT_USERNAME=foodex_app_bot

#Sending params
BROADCAST_BATCH_SIZE=1000

#Database params
BOT_SERVICE_DB_NAME=db_name
BOT_SERVICE_DB_USER=db_usename
BOT_SERVICE_DB_PASSWORD=db_password
BOT_SERVICE_DB_HOST=postgres
BOT_SERVICE_DB_PORT=5432

#RabbitMQ params
BOT_SERVICE_RABBIT_USERNAME=rabbit_username
BOT_SERVICE_RABBIT_PASSWORD=rabbit_password
BOT_SERVICE_RABBIT_HOST=rabbitmq




