#Database params
PLANNER_SERVICE_DB_NAME=db_name
PLANNER_SERVICE_DB_USER=db_usename
PLANNER_SERVICE_DB_PASSWORD=db_password
PLANNER_SERVICE_DB_HOST=postgres
PLANNER_SERVICE_DB_PORT=5432

#RabbitMQ params
PLANNER_SERVICE_RABBIT_USERNAME=rabbit_username
PLANNER_SERVICE_RABBIT_PASSWORD=rabbit_password
PLANNER_SERVICE_RABBIT_HOST=rabbitmq

#Cron time
DAILY_ACCOUNTING_HOUR=0
DAILY_ACCOUNTING_MINUTE=30

# Redis

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password