PROJECT_NAME=FOODEX

# Services names
API_SERVICE_NAME=API_SERVICE
BOT_SERVICE_NAME=BOT_SERVICE
PLANNER_SERVICE_NAME=PLANNER_SERVICE

PUT_ERROR_INTO_DATABASE=True

ADMIN_TG_IDS=[1234567890,2345678901,3456789012]

# Block user by IP Address
BLOCK_BY_IP_ADDRESS=False

# Telegram bot params
TELEGRAM_BOT_TOKEN=telegram_bot_token

LANDING_URL=https://foodexapp.top
TELEGRAM_MINI_APP_URL=t.me/foodex_app_bot/foodex

LOGOUT_TIMEOUT=900
REQUEST_BATCH_SIZE=1000
RABBIT_MESSAGE_LIST_LIMIT=1000
RABBIT_BROADCAST_MAX_DELAY=500
RABBIT_BROADCAST_EXCHANGE_NAME=rabbit_broadcast_exchange_name
RABBIT_DIRECT_EXCHANGE_NAME=rabbit_direct_exchange_name

BOT_SERVICE_RABBIT_DIRECT_QUEUE_NAME=bot_service_rabbit_direct_queue
API_SERVICE_RABBIT_DIRECT_QUEUE_NAME=api_service_rabbit_direct_queue

MINIO_STORAGE_URL=https://storage.foodexapp.top
MINIO_USERNAME=minio_username
MINIO_PASSWORD=minio_password
MINIO_SECURE=False
MINIO_BUCKET=foodex
MINIO_BUSINESSES_FOLDER_JPEG=businesses/jpeg
MINIO_BUSINESSES_FOLDER_WEBP=businesses/webp
MINIO_PRODUCTS_FOLDER_JPEG=products/jpeg
MINIO_PRODUCTS_FOLDER_WEBP=products/webp

#PAYMENT_PAYPAL_CLIENT_ID=paypal_client_id_sandbox
#PAYMENT_PAYPAL_SECRET=paypal_secret_sandbox
#PAYPAL_API_URL=https://api-m.sandbox.paypal.com

PAYMENT_PAYPAL_CLIENT_ID=paypal_client_id_live
PAYMENT_PAYPAL_SECRET=paypal_secret_live
PAYPAL_API_URL=https://api-m.paypal.com
PAYPAL_REDIRECT_AFTER_PAYMENT_SUCCESS=https://foodexapp.top/payment_success.html
PAYPAL_REDIRECT_AFTER_PAYMENT_CANCEL=https://foodexapp.top/payment_cancel.html


